body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}

a, a:hover, a:visited {
  text-decoration: none !important;
}

#parallax-container {
  height: 800px;
}

.overlay {
  background-color: rgba(1, 1, 1, 0.5);
  height: 800px;
}

#logoImg {
  width: 100%;
  margin-top: 100px;
}

#welcome-heading {
  width: 100%;
  letter-spacing: 0.55px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 59px;
  font-weight: bold;
}

#name-heading {
  width: 100%;
  letter-spacing: 0.8px;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}

.btn1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  transition: all .3s ease;
  border-radius: 28px;
}

.btn1:before {
  position: relative;
  content: '\f125';
  color: #000;
  font-family: 'Ionicons';
  font-size: 19px;
  left: -160px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn1:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
}

.btn1:hover:before {
  left: -13px;
}

.btn1_2:before {
  position: relative;
  content: '\f125';
  color: #000;
  font-family: 'Ionicons';
  font-size: 19px;
  left: -160px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn1_2:hover:before {
  left: -11px;
}

#director, #about-content {
  background-color: #F6F6F6;
  color: #423D3D;
}

#director-title {
  font-size: 19px;
  letter-spacing: 3.91px;
  padding-top: 80px;
}

#dash {
  width: 80px;
  height: 4px;
  background-color: #423D3D;
  margin: 0 auto;
}

#director-msg, #about-us {
  background-color: #D8D8D8;
  border-radius: 8px;
  margin-top: 80px;
  padding: 30px;
}

#director-img {
  height: 230px;
  width: 230px;
  border-radius: 150px;
  margin: 0 auto;
  background-image: url(../images/ub_desai.jpg);
  background-size: cover;
}

.overlay1 {
  background-color: rgba(1, 1, 1, 0.5);
}

.circle-panel {
  height: 180px;
  width: 180px;
  border-radius: 150px;
  margin: 0 auto;
  background-color: rgba(1, 1, 1, 0.7);
  margin-top: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.link-panel {
  padding-bottom: 80px;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.iconList {
  color: #a8a8a8;
  font-size: 70px;
  position: relative;
  top: 33px;
  transition: all .3s ease;
}

@media (max-width: 1000px) {

  #welcome-heading {
    font-size: 52px;
  }

  #name-heading {
    font-size: 14px;
  }

  .btn1 {
    font-size: 13px;
  }

}

@media (max-width: 370px) {

  #welcome-heading {
    font-size: 40px;
  }

  #name-heading {
    font-size: 14px;
  }

  .btn1 {
    font-size: 16px;
  }

}
