{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>

    {% include 'placement/header.html' %}

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/announcements.css' %}">

    <title>Anouncements|IITH Placement Cell</title>
  </head>
  <body>

    {% include 'placement/sidenav.html' %}

    <div class="conatiner-fluid m-0 p-0 text-center" id="top-container">
      <div class="container-fluid col-xl-8 offset-xl-2">
        <h1 id="welcome-heading">ANNOUNCEMENTS PAGE</h1>
      </div>

      <div class="container-fluid col-xl-4 offset-xl-4 mt-2">
        <p id="name-heading">Indian Institute of Technology Hyderabad</p>
      </div>
    </div>

    <div class="conatiner p-5 col-xl-8 offset-xl-2">

      {% for announcement in announcements %}
        <div class="announcement-container bg-light">
          <div class="text-center m-5 pt-3">
            <h1 class="announcement-heading">{{ announcement.announcement_title }}</h1>
            <div id="dash"></div>
          </div>
          <p class="lead pl-5 pr-5" style="font-size: 17px;"><span style="font-weight: 600;">Date announced:</span><i> {{ announcement.created_date }}</i></p>
          <div class="lead announcement-body pl-5 pr-5 pb-5 mb-5">
            <p>{{ announcement.announcement_text|safe|truncatewords:"50" }}</p>
            <button type="button" class="p-2 read-more" style="background-color: #cad2d9; border-radius: 4px; border: none; font-size: 15px; color: #3f3f3f;" value="{{ announcement.announcement_text|safe|linebreaks }}">Read More</button>
          </div>
        </div>
      {% endfor %}

    </div>

    {% include 'placement/footer.html' %}

  </body>
</html>
