{% load staticfiles %}

{% block footer %}
  <div class="container-fluid p-0 m-0" style="background-color: #2a2a2a;">
    <div class="row pt-5 pb-3 p-0">
        <div class="col-xl-2 offset-xl-1 text-center"><a href="{% url 'placement:index' %}" style="color: #fff;">Home</a></div>
        <div class="col-xl-2 text-center"><a href="https://www.iith.ac.in/" style="color: #fff;">IIT Hyderabad</a></div>
        <div class="col-xl-2 text-center"><a href="ReachIITH.pdf" style="color: #fff;">Reaching IITH</a></div>
        <div class="col-xl-2 text-center"><a href="credits.html" style="color: #fff;">Credits</a></div>
        <div class="col-xl-2 text-center"><a href="contactUs.html" style="color: #fff;">Contact Us</a></div>
    </div>

    <div class="container-fluid pt-2 pb-3">
      <center>
        <p style="font-size: 25px; float: none; color: #fff;">
          <a><i class="icon ion-social-facebook-outline"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a><i class="icon ion-social-twitter-outline"></i></a>                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a><i class="icon ion-social-googleplus-outline"></i></a>
        </p>
      </center>
    </div>

    <div class="fluid-container text-center" style="background-color: #151515; padding-top: 10px; padding-bottom: 10px; font-size: 11px; color: #939393;">
        COPYRIGHT <strong>&copy; <a href="http://www.iith.ac.in/" style='color: #d3d3d3;'>Indian Institute Of Technology, Hyderabad</a></strong> - 2018
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- This is for parallax effect -->
  <script src="{% static 'js/parallax-background.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Javascript for sidenav -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="{% static 'js/sidenav.js' %}" type="text/javascript"></script>

  <!-- Custom javascript -->
  <script src="{% static 'js/index.js' %}" type="text/javascript"></script>

{% endblock %}
