{% load staticfiles %}

{% block header %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Ionicons stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ionicons-2.0.1/css/ionicons.css' %}">

<!-- Bootstrap CSS -->
<link href="https://fonts.googleapis.com/css?family=Lato:200, 400, 600, 800" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="icon" href="{% static 'images/iithLogoNoText.png' %}" sizes="192x192" />
{% endblock %}
