{% load staticfiles %}

{% block content %}
      <div class="sidenav">
          <ul id="slide-out" class="side-nav">
              <li>
                  <div class="user-view text-center pb-5">
                      <div class="background">
                          <img src="{% static 'images/back.jpg' %}">
                      </div>
                      <img class="circle" src="{% static 'images/iithLogo.png' %}" style="margin-left: 90px;">
                  </div>
              </li>
              <li><a class="waves-effect" href="placement-process.html">Placement Process</a></li>
              <li><a class="waves-effect" href="internship.html">Internships</a></li>
              <li><a class="waves-effect" href="#!">Important Dates</a></li>
              <li class="pl-3">
                  <ul class="collapsible collapsible-accordion">
                      <li>
                          <a class="collapsible-header">Innovations @ IITH</a>
                          <div class="collapsible-body">
                              <ul>
                                  <li><a href="https://www.iith.ac.in/html_oldIITH/fractal/frac.html" class="list-items">Fractal Academics</a></li>
                                  <li><a href="http://es.iith.ac.in/" class="list-items">ES</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/iith-japan-collaboration12" class="list-items">Japan Colloaboration</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li>
              <li class="pl-3">
                  <ul class="collapsible collapsible-accordion">
                      <li>
                          <a class="collapsible-header">Why IITH</a>
                          <div class="collapsible-body">
                              <ul>
                                  <li><a href="https://www.iith.ac.in/index.php/iith-people/peple-faculty" class="list-items">World Class Faculty</a></li>
                                  <li><a href="https://www.iithaa.org/" class="list-items">Alumni</a></li>
                                  <li><a href="https://www.collegepravesh.com/engineering-colleges/iit-hyderabad/#ranking" class="list-items">Rankings</a></li>
                                  <li><a href="https://www.iith.ac.in/rnd/index.html" class="list-items">R &amp; D</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/news" class="list-items">News</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/administration/message-from-director" class="list-items">Director's message</a></li>
                                  <li><a href="under-construction.html" class="list-items">Recruiters Speak</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li>
              <li><a class="waves-effect" href="http://academics.iith.ac.in/">Academics</a></li>
              <li><a href="under-construction.html" class="waves-effect">Placement Statistics</a></li>
              <li><a href="selectionProcess.html" class="waves-effect">Selection Process</a></li>
              <li><a class="waves-effect" href="student-life.html">Student Life</a></li>
              <li><a class="waves-effect" href="http://global-shirucafe.com/stores/iit_HYDERABAD.php">SHIRU CAFE</a></li>
              <li class="pl-3">
                  <ul class="collapsible collapsible-accordion">
                      <li>
                          <a class="collapsible-header">Downloads</a>
                          <div class="collapsible-body">
                              <ul>
                                  <li><a href="placement-brochure.pdf" download class="list-items">Placement Brochure</a></li>
                                  <li><a href="InvitationLetter2018.docx" class="list-items">Invitation letter</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/departments" class="list-items">Department Wise Brochures</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li>
              <li><div class="divider"></div></li>
              <li><a class="waves-effect" href="contactUs.html">Contact Us</a></li>
              <li><a class="waves-effect" href="hotelsnearIITH.html">Hotels near IITH</a></li>
              <li><a class="waves-effect" href="credits.html">Website credits</a></li>
          </ul>
      </div>
{% endblock %}
