{% load staticfiles %}

{% block content %}
      <div class="sidenav">
          <ul id="slide-out" class="side-nav">
              <li>
                  <div class="user-view text-center pb-5">
                      <div class="background">
                          <img src="{% static 'images/back.jpg' %}">
                      </div>
                      <img class="circle" src="{% static 'images/iithLogo.png' %}" style="margin-left: 90px;">
                  </div>
              </li>
              <li><a class="waves-effect" href="{% url 'placement:placementProcess' %}">Placement Process</a></li>
              <li><a class="waves-effect" href="{% url 'placement:internships' %}">Internships</a></li>
              <li><a class="waves-effect" href="{% url 'placement:announcements' %}">Announcements</a></li>
              <li class="pl-3">
                  <ul class="collapsible collapsible-accordion">
                      <li>
                          <a class="collapsible-header">Innovations @ IITH</a>
                          <div class="collapsible-body">
                "              <ul>
                                  <li><a href="https://www.iith.ac.in/html_oldIITH/fractal/frac.html" class="list-items">Fractal Academics</a></li>
                                  <li><a href="http://es.iith.ac.in/" class="list-items">ES</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/iith-japan-collaboration12" class="list-items">Japan Colloaboration</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li>
              <li class="pl-3">
                  <ul class="collapsible collapsible-accordion">
                      <li>
                          <a class="collapsible-header">Why IITH</a>
                          <div class="collapsible-body">
                              <ul>
                                  <li><a href="https://www.iith.ac.in/index.php/iith-people/peple-faculty" class="list-items">World Class Faculty</a></li>
                                  <li><a href="https://www.iithaa.org/" class="list-items">Alumni</a></li>
                                  <li><a href="https://www.collegepravesh.com/engineering-colleges/iit-hyderabad/#ranking" class="list-items">Rankings</a></li>
                                  <li><a href="https://www.iith.ac.in/rnd/index.html" class="list-items">R &amp; D</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/news" class="list-items">News</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/administration/message-from-director" class="list-items">Director's message</a></li>
                                  <li><a href="under-construction.html" class="list-items">Recruiters Speak</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li>
              <li><a class="waves-effect" href="http://academics.iith.ac.in/">Academics</a></li>
              <li><a href="under-construction.html" class="waves-effect">Placement Statistics</a></li>
              <li><a href="{% url 'placement:selectionProcess' %}" class="waves-effect">Selection Process</a></li>
              <li><a class="waves-effect" href="{% url 'placement:studentLife' %}">Student Life</a></li>
              <li><a class="waves-effect" href="http://global-shirucafe.com/stores/iit_HYDERABAD.php">SHIRU CAFE</a></li>
              <li class="pl-3">
                  <ul class="collapsible collapsible-accordion">
                      <li>
                          <a class="collapsible-header">Downloads</a>
                          <div class="collapsible-body">
                              <ul>
                                  <li><a href="placement-brochure.pdf" download class="list-items">Placement Brochure</a></li>
                                  <li><a href="InvitationLetter2018.docx" class="list-items">Invitation letter</a></li>
                                  <li><a href="https://www.iith.ac.in/index.php/departments" class="list-items">Department Wise Brochures</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </li>
              <li><div class="divider"></div></li>
              <li><a class="waves-effect" href="{% url 'placement:contactUs' %}">Contact Us</a></li>
              <li><a class="waves-effect" href="{% url 'placement:hotelsnearIITH' %}">Hotels near IITH</a></li>
              <li><a class="waves-effect" href="{% url 'placement:credits' %}">Website credits</a></li>
          </ul>
      </div>

      <nav class="navbar navbar-transparent fixed-top navbar-expand-lg animated fadeIn">

        <div data-activates="slide-out" class="menu button-collapse p-3">
          <div class="line mb-2"></div>
          <div class="line mb-2"></div>
          <div class="line"></div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'placement:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'placement:announcements' %}">Announcements</a>
            </li>
          </ul>

        </div>

        <ul class="float-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'placement:contactUs' %}">Contact Us</a>
          </li>
        </ul>

      </nav>
{% endblock %}
