{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

    <head>

        {% include 'placement/header.html' %}

        <title>Student Life|IITH Placement Cell</title>

        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/externalCss.css' %}">

    </head>
    <body>

      {% include 'placement/sidenav.html' %}

      <div data-activates="slide-out" class="menu button-collapse p-3">
        <div class="line mb-2"></div>
        <div class="line mb-2"></div>
        <div class="line"></div>
      </div>

        <div class="bg"></div>
        <div class="container-fluid p-0 mb-0 text-center" id="top-container">
          <div class="container-fluid col-xl-8 offset-xl-2">
            <h1 id="welcome-heading">Student's Life</h1>
          </div>

          <div class="container-fluid col-xl-4 offset-xl-4 mt-2">
            <p id="name-heading">Indian Institute of Technology Hyderabad</p>
          </div>
        </div>

        <div class="fluid-container mb-0 pb-5" style="background-color: #F5F6F9; padding-top: 100px;">
            <div class="container content-process lead pb-5">
                A healthy campus life plays a pivotal role in the all-round development of the students. Along with the intense academic schedule and brain-storming class hours, the students of IIT Hyderabad indulge in extensive sporting action.
            </div>

            <div class="container">
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">ELAN</p>
                    <p class= "lead pl-3 col-md-6">The Technical-cum-Cultural Festival of IIT Hyderabad is the best exhibition of the management and organizational skills of the students. The internationally recog- nized event is very popular among the students all over the state. The students' active participation in cultural, technical and literary competitions has made it a grand success.</p>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/elan1.jpg' %}" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pr-1">
                                <img src="{% static 'images/elan2.jpg' %}" style="width: 100%;">
                            </div>
                            <div class="col-6 pl-1">
                                <img src="{% static 'images/elan3.jpg' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">nVision</p>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/nvision1.png' %}" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pr-1">
                                <img src="{% static 'images/nvision2.png' %}" style="width: 100%;">
                            </div>
                            <div class="col-6 pl-1">
                                <img src="{% static 'images/nvision3.png' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <p class= "lead pl-3 col-md-6">ηvision is the techno-management fest organised by the students of IIT Hyderabad with a motto of providing a platform to the technical enthusiasts of our country to explore, innovate and showcase their technical and engineering prowess. ηvision started in 2011 and over the past 3 years it has gradually evolved from an inter-college festival to one of the most recognised techno-management fests of the country.</p>
                </div>
                <hr>
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">Gymkhana</p>
                    <p class= "lead pl-3 col-md-6">The Student Executive body called the ‘Gym- khana’ is a student governed body headed by a President, who along with the council, ensures smooth functioning of all the student affairs.</p>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/gymkhana1.jpg' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">Entrepreneur-Cell</p>
                     <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/ecell1.png' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <p class= "lead pl-3 col-md-6">E-Cell is a group of entrepreneurs and seeks to solve real life problems and come up with really innovate and cool designs as a solution for the same.</p>
                </div>
                <hr>
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">National Service Scheme (NSS)</p>
                    <p class= "lead pl-3 col-md-6">National Service Scheme (NSS) at IITH is aimed at providing each student with a significant context in which he/she can reach a deeper understanding of social reality in India today. As a part of this, the students visit nearby schools and hospitals to assist the government authorities in their leisure.</p>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/nss1.png' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">Club Activities</p>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/club2.jpg' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <p class= "lead pl-3 col-md-6">Clubs are the integral part of any college. The enthusi- astic students of IIT Hyderabad have also formed many significant clubs like Sci-tech. Clubs which include Kludge, Infero, Electronica, Cepheid, Endeavour, Torque, Robotics along with the colorful Cultural Clubs enlisting Gesture, Movie Club, Photography Club, Rang de manch,Vibes. Regular cultural rendezvous have transformed the student community into a happy family where all major festivals are celebrated with pomp and gaiety. The Night Life revolves around the various workshops and competitions conducted by numerous student-managed clubs. To sum it up, life at Indian Institute of Technology Hyderabad is the IIT experience lived king size.</p>
                </div>
                <hr>
                <div class="row pb-5">
                    <p class="heading-recruitment col-12">Sports</p>
                    <p class= "lead pl-3 col-md-6">IIT-Hyderabad provides full fledged facilities for all outdoor sports. A well equipped Gymnasium and regular practice has shown great results at Inter-IIT sports meets.</p>
                    <div class="col-md-6">
                        <div class="row mb-2">
                            <div class="col-12">
                                <img src="{% static 'images/sports.jpg' %}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row pt-3 pb-3">
                    <iframe class="youtube-vid" width="100%" src="https://www.youtube.com/embed/aIoP7XvBgUE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        {% include 'placement/footer.html' %}
        <script type="text/javascript">

            $(".youtube-vid").css('height', (315/560)*$(".youtube-vid").width() + 'px');

        </script>

    </body>

</html>
